@media screen and (max-width: 360px) {
  header {
    flex-direction: column;
  }
  .nav-logo {
    flex-direction: column;
    text-align: center;
  }
  .nav-logo a {
    margin-bottom: 2vh;
  }
  main .sec-one .text-content p {
    text-align: center;
  }
  main .sec-two .text-content p {
    text-align: center;
  }
  footer .footer-menu {
    flex-direction: column-reverse;
  }
  footer .nav-footer {
    margin: 4vh 0;
  }
}