* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background: #ff69b4;
}
header .nav-logo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-logo .header-logo img {
  height: 10vh;
  width: 100%;
}
header .nav-logo a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}
header .nav-logo a:hover {
  background: linear-gradient(to right, #d200c8, #8a0445);
  background-clip: text;
  color: transparent;
}
header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .nav-menu ul li {
  display: inline;
  list-style: none;
}
header .nav-menu a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  margin: 0 1vw;
}
header .nav-menu a:hover {
  background: linear-gradient(to right, #d200c8, #8a0445);
  background-clip: text;
  color: transparent;
}

main {
  width: 100%;
  background: #ffd9ec;
}
main .sec-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 2vw;
}
main .sec-one .text-content {
  max-height: 30vh;
  max-width: 40%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
main .sec-one .text-content p {
  font-size: 1.1rem;
}
main .sec-img-one img {
  height: 50%;
  width: 50%;
}
main .sec-two {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 1vw;
  background: #ff69b4;
}
main .sec-two .sec-img-two img {
  height: 40%;
  width: 80%;
}
main .sec-two .text-content {
  max-height: 30vh;
  max-width: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}
main .sec-two .text-content p {
  font-size: 1.1rem;
}
main .sec-three {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 2vw;
  background: #ffd9ec;
}
main .sec-three .img-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  /* overflow: auto; */ /* Aqui optei por continuar sem o scroll, mantendo apenas a quebra dos itens em conjunto com a responsividade. */
}
main .sec-three .img-container img {
  height: 100%;
  width: 100%;
  max-height: 15%;
  max-width: 15%;
  border-radius: 100%;
  margin: 3vh 0;
}

footer {
  width: 100%;
  background: #ff69b4;
}
footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2vw;
}
footer .nav-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .nav-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 50%;
  max-width: 50%;
  overflow: auto;
  width: 100%;
}
footer .nav-footer ul li {
  list-style: none;
}
footer .nav-footer ul li .icon {
  font-size: 2rem;
  color: black;
}
footer .nav-footer ul li .icon:hover {
  background: linear-gradient(to right, #d200c8, #8a0445);
  background-clip: text;
  color: transparent;
}
footer .sec-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
footer .sec-footer .text-footer {
  text-align: center;
  font-size: 1.1rem;
  white-space: pre-line;
  font-size: 0.8rem;
}
footer .sec-img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .sec-img-footer img {
  height: 10vh;
  width: 15%;
  min-width: 7vw;
}