@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./mixins.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", cursive;
}

header {
  @include align-and-justify(center, space-around);
  width: 100%;
  background: $pink-color;
  
  

  .nav-logo {
    @include height-width(100%, 50%);
    @include flex-center;

    .header-logo {
      img {
        @include height-width(30%, 100%);
      }
    }

    a {
      @include text-default;
      font-size: 1.2rem;
      text-align: center;

      &:hover {
        @include text-hover;
      }
    }
  }

  .nav-menu {
    @include flex-center;
    width: 100%;

    ul {
      text-align: center;
      li {
        display: inline-block;
        list-style: none;
      }
    }

    a {
      @include text-default;
      font-size: 1.2rem;
      margin: 0 1vw;

      &:hover {
        @include text-hover;
      }
    }
  }
}
