@import "./variables.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-and-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

@mixin max-height-width($max-height, $max-width) {
  max-height: $max-height;
  max-width: $max-width;
}

@mixin text-default {
  text-decoration: none;
  font-weight: 400;
  color: $black-color;
  font-size: $font-size-text;
  transition: all 0.2s ease-in-out;
  color: $white-color;
}

@mixin text-hover {
  background: linear-gradient(
    to right,
    $text-t-h-color-start,
    $text-t-h-color-end
  );
  background-clip: text;
  color: transparent;
}

@mixin overflow-y-x($y, $x) {
  overflow-y: $y;
  overflow-x: $x;
}

@mixin scroll($track-color: $scroll-color-one, $thumb-color: $scroll-color-two) {
  ::-webkit-scrollbar {
    @include height-width(100%, 1vw);
  }

  ::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 10vw;
  }
}
