$black-color: black;
$white-color: white;
$pink-color: #ff69b4;
$body-color: #ffd9ec;

$scroll-color-one: $pink-color;
$scroll-color-two: $body-color;
$scroll-color-three: rgba(133, 114, 85, 0.878);;

$text-t-h-color-start: #d200c8;
$text-t-h-color-end: #8a0445;

$font-size-text: 1rem;